{
  "extends": ["stylelint-config-standard", "stylelint-config-idiomatic-order"],
  "rules": {
    "custom-property-pattern": null,
    "property-no-unknown": null,
    "selector-class-pattern": null,
    "indentation": "tab",
		"value-keyword-case": null
  }
}
