.toggleTheme {
	position: absolute;
	top: 0;
	right: 0;
	width: fit-content;
	box-sizing: border-box;
	padding: 8px;
	border: none;
	background: white;
	border-bottom-left-radius: 8px;
}

.toggleTheme:hover {
	cursor: pointer;
}

.toggleThemeIcon {
	display: flex;
	width: 24px;
	height: 24px;
	fill: green;
}
