:root {
	--size: 32px;
}

.toggleTheme {
	position: fixed;
	top: 0;
	right: 0;
	border: none;
	margin: 16px;
	background: transparent;
	font-size: var(--size);
}

.toggleTheme:hover {
	cursor: pointer;
}

.toggleThemeIcon {
	display: flex;
	width: var(--size);
	height: var(--size);
}
