:root {
	--pageMaxWidth: 600px;
	--padding: 16px;
}

.pageLayout {
	display: flex;
	min-height: 100vh;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	width: 100%;
	max-width: var(--pageMaxWidth);
	box-sizing: border-box;
	padding: var(--padding);
	margin: 0 auto;
}

.footer {
	width: 100%;
	max-width: var(--pageMaxWidth);
	box-sizing: border-box;
	padding: var(--padding);
	border-top: 1px solid red;
	margin: 0 auto;
}
