.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: white;
	border: 20px;
	border-color: white;
}

.links {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	column-gap: 1em;
	list-style-type: none;
	row-gap: 0.4em;
}
