.app {
	font-family: "Helvetica Neue", serif;
	font-weight: 700;
	text-align: left;
}

.appLogo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.appLogo {
		animation: app-logo-spin infinite 20s linear;
	}
}

.appWelcome {
	display: flex;
	max-width: 80%;
	min-height: 100vh;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	margin-left: 10%;
	color: black;
	font-size: calc(10px + 2vmin);
}

.highlighted {
	color: #f00;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
